#carouselblend {
  color: #e82e2c;
  font-family: "Segoe UI";
  font-size: 25px;
}

#coffeeblends {
  color: #e82e2c;
  font-family: "Segoe UI";
  font-size: 25px;
}

#carousel1border {
  border-color: #e82e2c;
}
